/*------------/ BODY /-------------*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}



/*------------/ WEB NAVBAR /-------------*/
#logo {
  height: 100%;
}

.navbar {
  border-radius: 0;
  box-shadow: rgba(0,0,0,0.3) 0 1px 4px 0;
  margin-bottom: 0;
  z-index: 3;
}

.navbar-brand {
  padding: 10px 10px;
}

.navbar-default {
  background-color: #fff;
  border-style: solid;
  border-width: 5px 0 0 0;
  border-color: #ffcb00;
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
  color: #0065b8;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #41a9ff;
  background-color: #e1eefa;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #41a9ff;
  background-color: #e1eefa;
}



/*------------/ MOBILE NAV /-------------*/
.navbar-default .navbar-toggle {
  border-color: #00355f;
  border-width: 2px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e1eefa;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #00355f;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e1eefa;
}



/*------------/ DROPOWN /-------------*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #00355f;
}



/*------------/ SEARCH BOX /-------------*/
.search-container {
  position: absolute;
  z-index: 3;
}

.search-box {
  margin: 5% 15%;
  padding: 10px;

  display: block;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;

  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .search-container {
    position: static;
  }

  .search-box {
    margin: 0;
    padding: 5px 15px;
  }
}



/*------------/ MAP /-------------*/
#map {
  height: 100%;
}


