<!DOCTYPE html>
<html>
<head>
  <title>Expedia Hackathon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>

  <!-- CONTENTS BEGIN-->

    <!-- SEARCH BUTTON -->
      <!--
      <h1>Map</h1>
      <form action="" method="POST">
          <label for="origin">Origin:</label>
          <input type="text" name="origin">

          <label for="total_price">Price:</label>
          <input type="text" name="total_price">

          <label for="start_date">From:</label>
          <input type="date" name="start_date">

          <label for="end_datae">To:</label>
          <input type="date" name="end_date">

          <input type="submit" value="Search">
      </form>

      <div id="map">
      </div>
    -->

    <!-- NAVBAR -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><img src="logo_expedia.svg" alt="" id="logo"></a>
          <!-- MOBILE MENU -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <!-- MOBILE MENU /-->
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">

            <!-- MENU 1 -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="account">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#">Starred</a></li>
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Signout</a></li>
              </ul>
            </li>

            <!-- MENU 2 -->
            <li>
              <a href="#">Help</a>
            </li>

            <!-- MENU 3 -->
            <li>
              <a href="#">Blog</a>
            </li>

            <!-- MENU 4 -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="support">Support <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="#">Contact Team</a></li>
                <li><a href="#">Feedback</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>


    <!-- MAP BOX -->
    <div class="thumbnail">
      <p><a class="btn btn-default" href="#" role="button">Book Now &raquo;</a></p>
      <button id="search">Search</button>
      <form action="/user_input" method="post">
        <label for="origin">Origin:</label>
        <div id="dropdown"></div>

        <label for="total_price">Price:</label>
        <input type="range" min="0" max="1000" value="0" name="price" onchange="showValue(this.value)" name="total_price" />
        <span id="range">$0</span>

        <label for="start_date">From:</label>
        <input type="date" name="start_date">

        <label for="end_date">To:</label>
        <input type="date" name="end_date">

        <input type="radio" name="option" value="plane" checked>Airplane Only
        <input type="radio" name="option" value="plane_hotel">Airplane and Hotel
        <input type="submit" value="Search">
      </form> 
    </div>
    <div id="map">
      <div id="user_input">

      </div>
    </div>
    <!-- </div> -->
  <!-- CONTENTS END /-->


  <!-- GOOGLE MAPS API -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCausKJ7flSP5a28LEc1Jmk8v2z5zkUyyg&callback=initMap">
  </script>
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- JS -->
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="../static/js/airports.js"></script>
  <script>

    var map;

    function initMap() {
      // Map on landing page
      var mapDiv = document.getElementById('map');
      map = new google.maps.Map(mapDiv, {
        center: {lat: 39.6097, lng: -98.19661},
        zoom: 5
      });
    }

    function showValue(val){
        document.getElementById("range").innerHTML="$"+val;
    }
    // function initMap() {
    //   var map = new google.maps.Map(document.getElementById('map'), {
    //     center: {lat: 39.50, lng: -98.35},
    //     zoom: 5
    //   });
    // }
    window.onload = initMap();

    $(document).ready(function(){

        var dropdown = "<select name='airports'><br>";
        for(airport in airports){
          dropdown += "<option value="+airports[airport].code+">"+airport+"</option><br>";
        }
        dropdown += "</select>";
        $('#dropdown').html(dropdown);

        $('#search').click(function(){

          // GET request to API
          $.get('/search', function(res) {
            console.log(res);

            // MAP Specs
            var mapProp = {
            center:new google.maps.LatLng(47.609786,-122.1966154),
            zoom:8,
            mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            // Creating instance of map with specs above
            // var map = new google.maps.Map(document.getElementById("map"), mapProp);

            // Instance of infowindow
            var infowindow = new google.maps.InfoWindow();
            var marker, j;

            // Traversing through all locations that meet specifications by user (All Airports)
            for(var j =0; j < res.CarInfoList.CarInfo.length; j++){
              console.log(res.CarInfoList.CarInfo[j].DropOffInfo.Location.GeoLocation.Latitude, res.CarInfoList.CarInfo[j].DropOffInfo.Location.GeoLocation.Longitude)

              // Creating Markers for each location (Airports)
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(res.CarInfoList.CarInfo[j].DropOffInfo.Location.GeoLocation.Latitude, res.CarInfoList.CarInfo[j].DropOffInfo.Location.GeoLocation.Longitude),
                map: map
              });

              // Adding content to infowindows (Hotel+Airfare total)
              google.maps.event.addListener(marker, 'click', (function(marker, j) {
                return function() {
                  // infowindow.setContent("<p>"+locations[j]['firstName']+"\'s Location</p>"+"<a href='/student/request/"+locations[j]['user_id']+"'>Request Tutor</a>");
                  infowindow.setContent("<p>$"+res.CarInfoList.CarInfo[j].Price.BaseRate.Value+"</p>");
                  infowindow.open(map, marker);
                }
              })(marker, j));
            }
          })
        })
    })

  </script>
</body>
</html>
