<!DOCTYPE html>
<html>
<head>
  <title>Expedia Hackathon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
  <!-- CONTENTS BEGIN-->



    <!-- NAVBAR -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand"><img src="../static/images/logo_expedia.svg" alt="" id="logo"></a>
          <!-- MOBILE MENU -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <!-- MOBILE MENU /-->
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">

            <!-- MENU 1 -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="account">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#">Starred</a></li>
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#">Signout</a></li>
              </ul>
            </li>

            <!-- MENU 2 -->
            <li>
              <a href="#">Help</a>
            </li>

            <!-- MENU 3 -->
            <li>
              <a href="#">Blog</a>
            </li>

            <!-- MENU 4 -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="support">Support <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="#">Contact Team</a></li>
                <li><a href="#">Feedback</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>


    <!-- MAP BOX -->
    <div class="row">
      <div class="col-md-6 col-sm-7 search-container">
        <div class="thumbnail search-box">
          <form action="/user_input" method="post">
            <legend>Start from here</legend>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-map-marker fa-fw"></i>
                </span>
                <select class="form-control" id="dropdown" name="airport"></select>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  (month)
                  <i class="fa fa-male fa-fw"></i><i class="fa fa-angle-double-right fa-fw"></i><i class="fa fa-plane fa-fw"></i>
                </span>
                <select class="form-control" id="month" name="month">
                  <option value="1">January</option>
                  <option value="2">Febuary</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  (days)
                  <i class="fa fa-calendar-check-o fa-fw"></i><i class="fa fa-angle-double-right fa-fw"></i><i class="fa fa-plane fa-fw"></i>
                </span>
                <input type="num" class="form-control" id="num_days" placeholder="ex. 3" name="num_days">
              </div>
            </div>

            <!-- DATE INPUT FORM
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-male fa-fw"></i><i class="fa fa-angle-double-right fa-fw"></i><i class="fa fa-plane fa-fw"></i>
                  </span>
                  <input class="form-control" type="date" name="start_date" />
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-plane fa-rotate-90 fa-fw"></i><i class="fa fa-angle-double-right fa-fw"></i><i class="fa fa-male fa-fw"></i>
                  </span>
                  <input class="form-control" type="date" name="end_date" />
                </div>
              </div>
            -->

            <div class="form-group">
              <input type="range" min="0" max="1000" value="0" name="price" onchange="showValue(this.value)" name="total_price" />
              <i class="fa fa-usd"></i> <span id="range">0</span>
            </div>

            <div class="form-group">
            <label>
              <input type="checkbox" name="option" value="plane" checked />
                I'd rather go with Nonstop <i class="fa fa-paper-plane-o"></i>
              </label>
            </div>
            
            <input type="submit"  value="Search &raquo;" class="btn btn-default btn-block">
          </form>
          <button id="search">Search</button>
        </div>
      </div>
    </div>


    <div id="map"><div id="user_input"></div></div>

  <!-- CONTENTS END /-->


  <!-- GOOGLE MAPS API -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCausKJ7flSP5a28LEc1Jmk8v2z5zkUyyg&callback=initMap">
  </script>
  <!-- GOOGLE ICON -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- JS -->
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="../static/js/map.js"></script>
  <script type="text/javascript" src="../static/js/airports.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <!-- ICONS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
</body>
</html>
